src/main/resources/archetype-resources/__rootArtifactId__-services/src/main/resources/data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://${groupId}/model/example"
           targetNamespace="http://${groupId}/model/example" version="2.1.0">

    <xs:complexType name="ExampleObject">
        <xs:sequence>
            <xs:element name="mrID" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="MicroserviceStatus">
        <xs:sequence>
            <xs:element name="error" type="xs:boolean" />
            <xs:element name="statusCode" type="xs:string" />
            <xs:element name="statusMessage" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfObject">
        <xs:sequence>
            <xs:element name="data" type="ExampleObject" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>